complexity:
  LongMethod:
    active: true
    threshold: 80
  TooManyFunctions:
    active: true
    thresholdInClasses: 20

style:
  WildcardImport:
    active: true
  MagicNumber:
    active: false

naming:
  FunctionNaming:
    active: true
  TopLevelPropertyNaming:
    active: true
